.Reviews{

    align-content: center;
    align-items: center;
    align-self: auto;
    height: 500px;
    width: 550px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4 , 150px);
    grid-template-rows: 220px 220px;
    grid-gap: 15px;
    padding: 5px;
    justify-content: left;
    animation: movetop 1.5s ease-in;
    
    }

    @keyframes movetop{
        from{transform:translateY(-140px)}
        to{transform: translateY(10px)}
      }
     

    .grid-container > div {
    /*background-color: #000000;*/
    text-align: center;
    /*padding: 20px;*/
    border-radius: 25px;
    font-size: 90px;
    border: 2px solid;
    }

    .box:hover
    {
    -moz-box-shadow: 0 0 40px #ccc;
    -webkit-box-shadow: 0 0 40px #ccc;
    box-shadow: 0 0 40px #ccc;
    }
    .h3-color{
    color: #FF1493;
    font-size: 75px;
    }
    .main{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap:25px;
    overflow: hidden;

   
    //padding: 30px;
    }
    .wrapper{
    display:grid;
    grid-template-columns:repeat(5, 2fr);
   // grid-template-rows:repeat(5, 1fr);    
    grid-column-gap:10px;
    // grid-auto-rows: minmax(5px, auto);
    animation: movebottom 1.5s ease-in;
    }

    @keyframes movebottom{
        from{transform:translateY(10px)}
        to{transform: translateY(-140px)}
      }

    .nested{
    display:grid;
    
    grid-template-columns:repeat(4,120px);
    //grid-template-rows: repeat(5 , 1fr);
    grid-gap:8px;
    /*grid-row-start: 1;
    grid-row-end: 3;*/
}


.wrapper > div{
padding:1em;

}
.nested > div{
    border:#333 1px solid;
border-radius: 25px;
grid-gap: 25px;
//grid-auto-rows: minmax(100px, auto);
//padding:1em;
}

.leftimg {
    width: 150px;
    height: 220px;
    border-radius: 25px;
}

.rtimg {
   // height: 100%;
    border-radius: 25px;
}

button:hover{

    //transform: translateX(200px);
    //transform: translate(50px, 100px);
    width: 50px;
    height: 50px;
}

